.game-area {
    border: 2px solid #000000;
    height: 500px;
    margin: 50px auto;
    position: relative;
    width: 500px;
}

.snake-dot {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: #000000;
    border: 1px solid #ffffff;
}
